In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import normalize
%config Completer.use_jedi = False

### Cargar dataset

In [123]:
df = pd.read_csv("data/users.csv")
columns=df.columns

### Informacion de las columnas

- ID: Identificador unico del usuario
- AVG_RESPONSE: Tiempo promedio de descarga
- PRODUCTION: Porcentaje de produccion de datos del usuario
- CONSUME: Porcentaje de consumo del usuario
- CONSUME_OTHERS: Porcentaje que le consumen al usuario.
- LEADERSHIP(DEPRECATED): no info

In [127]:
descriptions = pd.Series({
    columns[0]:'A',
    columns[1]:'B',
    columns[2]:'C',
    columns[3]:'D',
    columns[4]:'E'
},name="Description")

docs = pd.DataFrame({'Description':descriptions},index=columns  )
docs.head()

               Description
ID                       A
AVG_RESPONSE             B
PRODUCTION               C
CONSUME                  D
CONSUME_OTHERS           E

### Mostrar dataset

In [119]:
df = df.sort_values("PRODUCTION",ascending=False)
#df.attrs['docs']=pd.DataFrame([1],index=('ID'), columns=list('description') )
df.head(5)

             ID  AVG_RESPONSE  PRODUCTION  CONSUME  CONSUME_OTHERS  LEADERSHIP
2357  145821237           0.0    0.066719      0.0       10.007784    0.083520
586   742756569           0.0    0.044479      0.0        2.802179    0.021567
2019  350781937           0.0    0.044479      0.0        0.989659    0.166113
1052    1574083           0.0    0.033359      0.0        3.002335    0.194711
1362  208560325           0.0    0.033359      0.0        5.003892    0.182700

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7970 entries, 0 to 7969
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              7970 non-null   int64
 1   AVG_RESPONSE    7970 non-null   float64
 2   PRODUCTION      7970 non-null   float64
 3   CONSUME         7970 non-null   float64
 4   CONSUME_OTHERS  7970 non-null   float64
 5   LEADERSHIP      7970 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 373.7 KB

In [84]:
columns=("PRODUCTION","CONSUME","CONSUME_OTHERS")
list(map(lambda x: (x,df[x].sum()),columns))

[('PRODUCTION', 1.2676526187034358),
 ('CONSUME', 98.73234738129655),
 ('CONSUME_OTHERS', 98.73234738129656)]

### Resumen estadistico

In [64]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,7970.0,7.931038e+08,8.263302e+08,6161.000000,1.751875e+08,3.575951e+08,1.492711e+09,2.887160e+09
AVG_RESPONSE,7970.0,5.341480e+01,4.671829e+01,0.000000,1.218750e+01,4.215000e+01,8.219167e+01,2.094333e+02
PRODUCTION,7970.0,1.590530e-04,1.754409e-03,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,6.671856e-02
CONSUME,7970.0,1.238800e-02,8.789796e-03,0.000000,1.111976e-02,1.111976e-02,1.111976e-02,4.781497e-01
CONSUME_OTHERS,7970.0,1.238800e-02,1.847447e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000778e+01
LEADERSHIP,7970.0,9.310848e-01,1.584030e-01,0.010291,9.672751e-01,9.902595e-01,1.000000e+00,1.713860e+00

# Pandas

In [48]:
names = pd.Series(["Nacho","Freddy"],name="Name")
ages = pd.Series([12,28],name="Age")

df = pd.DataFrame({'Name':names,'Age':ages})
df.head()

     Name  Age
0   Nacho   12
1  Freddy   28

In [37]:
df.describe().T

     count  mean        std   min   25%   50%   75%   max
age    2.0  20.0  11.313708  12.0  16.0  20.0  24.0  28.0